body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
  list-style-type: none;
}

.firstList {
  font-weight: 600;
  float: right;
  width: 30%;
  cursor: pointer;
}

button {
  margin: 20px auto;
}

.button_div {
  width: 60%;
  text-align: center;
  border: 1px solid;
  margin: auto;
}

.container {
  text-align: center;
}
